[2014-11-29 15:22] confile opened #19 "Orientation of taken photo is sometime wrong."
I am working on the square branch of your project. As you can see. The orientation of the image is wrong after taking the photo (not from album). This appear nearly 1 out of 10 captures. I do not know why because most of the time the orientation is correct.

![foto 29 11 14 16 19 15](https://cloud.githubusercontent.com/assets/64265/5234905/ac20e174-77e3-11e4-8cfe-845cdb065653.png)

[2014-12-12 16:20] deviggner opened #23 "Couldn't Run on Device"
I tried to run the example app on iPad and iPhone (both have iOS 8.1.1). But after i tap the 'Take photo' button, the black screen appears and the camera doesn't start. Any help?

[2014-12-15 19:30] confile opened #24 "Loading Indicator while loading the camera"
It would be great if you show a loading indicator while the camera is being initialized.

[2015-01-03 19:01] confile opened #26 "Cannot get the image without using [TGCamera setOption:kTGCameraOptionSaveImageToAlbum value:[NSNumber numberWithBool:YES]];"
I created a demo project here (https://github.com/confile/TGCameraViewControllerTest) to show this problem. Only if I set:

[code]
in my init method I get the images correctly returned from the TGCameraViewController. Without setting the above line there will be no image returned.

I hope that my sample project helps. You just have to look at BCamera.m. I modified the TGCameraViewController.m and

[2015-01-07 22:07] confile commented on #26
@Bruno-Furtado Do you have any idea on this issue?

[2015-01-07 22:33] Bruno-Furtado commented on #26
@confile,
I conducted two tests.

1. I took a picture with the camera (http://goo.gl/78dHS8)
2. Selected a photo from album (http://goo.gl/t4Wg0u)

I'm sending you the two prints
In both you can get the picture.
Sorry but I don't understand your question.

[2015-01-07 22:39] confile commented on #26
@Bruno-Furtado You are right I get the Image, i.e. the UIImage on iOS but it is not correctly transferred to the html index page and it is not displayed there.

As you can see in the last line of both of your outputs the image URI is some strange url starting with:

[code]
This only happens if I don't do

[code]

in my init.

Do you get my point?

[2015-01-07 22:42] Bruno-Furtado commented on #26
Do you want to display the image in HTML?

[2015-01-07 22:43] confile commented on #26
Yes I want to display the image in HTML. you can see that it works perfect if you enable

[code]
in BCamera.m init.

[2015-01-08 00:34] Bruno-Furtado commented on #26
@confile,

Some threads in your code are causing problems.
I managed to make the image is displayed by adding a timer, see if this can help:

- - -

__-[BCamera cameraDidSavePhotoAtPath:]__
[code]

[2015-01-08 00:41] Bruno-Furtado commented on #24
I don't think it's a good idea @confile.

[2015-01-08 00:41] #24 closed

[2015-01-08 00:52] Bruno-Furtado commented on #23
@deviggner,
You could run the example?

If not, try cleaning the project, close Xcode and delete the `DerivedData` directory files.
http://goo.gl/egvDYB

[2015-01-08 01:01] Bruno-Furtado commented on #19
@confile,

I made some improvements to the __orientation__ branch.
You could test?

[2015-01-08 07:29] confile commented on #26
@Bruno-Furtado Your code works fine thank you. There is one last problem. If you choose to load an image from album in the camera view it gets saved again. How can I prevent the photo from being resaved when I choose an album photo?

[2015-01-08 08:37] confile commented on #19
I will test it today and give you feedback.

[2015-01-08 12:31] Bruno-Furtado commented on #26
@confile,
This is the problem I told you about.
Unfortunately I have not found a solution.
I believe there is no need to save an image that is already on the album.

[2015-01-08 13:21] confile commented on #26
@Bruno-Furtado Yes there is no need to save an image that is already on the album. So how do I prevent the app from doing this?
Thank you for your help.

[2015-01-08 13:42] confile opened #27 "How cam I make the Camera View to open faster?"
The answers here might help you:

http://stackoverflow.com/questions/27203643/how-cam-i-make-the-camera-view-to-open-faster

[2015-01-09 00:09] Bruno-Furtado commented on #26
@confile,
Just don't implement the `cameraDidSavePhotoAtPath:` method.
Ok?

[2015-01-09 00:10] Bruno-Furtado commented on #19
@confile,
All right?

[2015-01-09 00:16] Bruno-Furtado commented on #27
@confile,
The slowness isn't caused by the camera itself.
The effects make it slow.

Some changes [in this code point](https://github.com/tdginternet/TGCameraViewController/blob/2.0.1/TGCameraViewController/Control/TGCameraViewController.m#L90) can improve speed.

You think you could help us in this task?

[2015-01-09 12:57] confile commented on #27
I would like to help you but my iOS skills are still at the beginning. I might not be a great help yet.

[2015-01-09 13:03] Bruno-Furtado commented on #27
Once we have time we will improve this functionality, ok?
I can close this issue?

[2015-01-09 13:04] confile commented on #27
Great I love this App. Thank you for you great support.

[2015-01-09 13:06] Bruno-Furtado commented on #27
Thank you for help us so much!

[2015-01-09 13:06] #27 closed

[2015-01-09 13:07] confile commented on #26
@Bruno-Furtado I delete ``cameraDidSavePhotoAtPath``in BCamera.m but still when I choose an image from album it saves this image again. How can I avoid this? Sorry for my many questions.

[2015-01-09 13:20] confile commented on #19
I tested the orientation branch I still have the problem when you tap on shot and rotate the device at the same time then the photo gets rotated.

[2015-01-09 14:43] confile commented on #26
well I solved it thank you.

[2015-01-09 14:43] #26 closed

[2015-01-12 16:47] confile opened #28 "Change Image Dimensions"
Is there a way to change the dimension of the image. I always get images of size 640px x 640px.
Even on iPad I get that small images.

[2015-01-12 18:42] confile commented on #28
Sorry I was wrong. The problem is that there is no way to change the dimension.

[2015-01-16 08:25] xujingzhou opened #29 "Regression"
Take Photo is blank screen in this version.  It is ok after I changed "Devices" item from "Universal" to "iPhone" in project setting.  -- tested on iPhone 4 and iPhone 5S.

[2015-01-20 18:31] nhnam commented on #23
Me too. Could not run on my iphone4s ios 8.1.2

[2015-01-20 18:34] Bruno-Furtado commented on #23
@nhnam,

The problem must be related to the XIBs.
You must clear the project and build again.
Have you performed this step?

[2015-01-20 19:11] nhnam commented on #23
I solved my issue with this suggestion https://github.com/tdginternet/TGCameraViewController/issues/29

[2015-01-20 21:07] #23 closed

[2015-01-24 12:28] chrise86 commented on #19
The first time I took a photo the orientation was wrong :-/

[2015-01-24 12:33] chrise86 opened #30 "Styling"
How would I (programmatically) change the colours and images? Are there any options?

[2015-02-13 21:59] jrr363 commented on #28
I changed this method to return the original image?

+ (UIImage *)cropImage:(UIImage *)image withCropSize:(CGSize)cropSize

and i am getting 2448 X 3264 on an iPhone 5

[2015-02-13 22:00] jrr363 commented on #28
Oh thanks for the awesome work Gostoso!

[2015-02-17 14:02] confile opened #32 "Received memory warning"
After a short time of usage I get the following warning.

[code]

[2015-02-19 12:49] confile opened #33 "Album photos cannot be zoomed"
If you take a photo from the album you cannot zoom it. Even if you zoom in you do not get the photo in the selected size.

[2015-03-02 16:27] confile opened #34 "TGCameraViewController breaks if permission is changing while running"
When I run the sample app and got to my settings and change the permission and go back into the sample app, then the app breaks.

[2015-03-30 13:06] Knights22 opened #36 "Black screen after taking pic"
Testing the example app, after taking a pic the screen is just black and no photo is saved to the camera roll. I am using iphone 6.

[2015-03-30 23:57] miketsprague commented on #30
If you're still trying to do this, you can use my branch
PR https://github.com/tdginternet/TGCameraViewController/pull/37
or
https://github.com/miketsprague/TGCameraViewController

[2015-04-01 19:07] arpad05 commented on #19
can i participate in this project?

[2015-04-07 06:29] tomisacat opened #38 "[Feature] Load image too slow from PhotoLibrary"
I noticed that you use UIImagePickerController and I test it on my iPhone 5 which contains more than 2000 photos, it's slow to load thumbnail from photo library. Will you write a custom picker controller to take place of system control?

BTW, really thank you for contributing so great work!

[2015-04-10 06:42] yesidi commented on #36
I have this issue too.

[2015-04-13 10:52] MattiaConfalonieri opened #39 "How can i add my localization?"
How can i add my localization at the project?

[2015-05-30 00:21] Bruno-Furtado commented on #39
__1. Go to the directory:__
TGCameraViewController / Resources / TGCameraViewController.bundle

---

__2. Create a new folder:__
`it-IT.lproj` (or `fr.lproj`, `es.lproj`, etc.)

---

__3. Create a file within the lproj folder with the following name:__
`Localizable.strings`

---

__4. Add the following parameter values:__

[code]

---

__5. Send a pull request for us__

[2015-05-30 00:21] #39 closed

[2015-05-30 00:28] Bruno-Furtado commented on #34
@confile,

After changing the permissions the iOS kills the app.
I also made this test and I noticed that the same thing occurs in other apps.
For some reason the system does this.

[2015-05-30 00:28] #34 closed

[2015-05-30 00:31] Bruno-Furtado commented on #32
@confile,

`BCamera`?
I could not simulate this alert.

[2015-05-30 20:09] Bruno-Furtado commented on #36
Of course @yesidi!
Just send a pull request with your changes.

[2015-05-30 20:11] Bruno-Furtado commented on #19
Of course @yesidi!
Just send a pull request with your changes.

[2015-05-30 20:15] Bruno-Furtado commented on #38
@tomisacat, thanks for the suggestion!
I added your suggestion to our [Todo](https://github.com/tdginternet/TGCameraViewController#todo) list.

[2015-05-30 20:15] #38 closed

[2015-05-30 20:17] Bruno-Furtado commented on #36
Guys,
I could not simulate the problem. :(

You could tell in which case occurs?
It's in some specific device? Some version of iOS?

[2015-05-30 20:20] Bruno-Furtado commented on #33
Great test @confile.
I added this improvement to our [Todo](https://github.com/tdginternet/TGCameraViewController#todo) list.

[2015-05-30 20:22] Bruno-Furtado commented on #30
We are working on this functionality in the [colors](https://github.com/tdginternet/TGCameraViewController/tree/colors) branch.

[2015-05-30 21:21] Knights22 commented on #36
I've tested on iphone 6. It occurs when you take a pic and then segue. What device have you tested it on?

[2015-06-01 18:00] #33 closed

[2015-06-01 18:02] Bruno-Furtado commented on #30
@chrise86,

Option available in version [2.2](https://github.com/tdginternet/TGCameraViewController/releases).
[How to change colors](https://github.com/tdginternet/TGCameraViewController#change-colors).

[2015-06-01 18:02] #30 closed

[2015-06-26 05:23] Phillip3 opened #41 "Disable Filters"
How would I go about disabling the filters after the user takes a photo?

[2015-06-26 17:44] Bruno-Furtado commented on #41
This option does not exist, but I think it's a good idea.
I would be happy if you contribute.

[2015-06-26 21:58] Phillip3 commented on #41
I created a branch that has a new optional delegate method called cameraFilterViewEnabled. It returns whether or not the wand is displayed that allows photo editing.

return true
![enabled](https://cloud.githubusercontent.com/assets/8754882/8388123/6f2c1b04-1c24-11e5-9e0c-21c0d1ed526d.PNG)

return false
![disabled](https://cloud.githubusercontent.com/assets/8754882/8388124/6f392678-1c24-11e5-89f3-

[2015-06-26 21:58] #41 closed

[2015-06-29 13:05] #28 closed

[2015-06-29 13:06] Bruno-Furtado commented on #36
I also tested on an iPhone 6 with iOS 8.3.
This failure occurs always or sometimes?

[2015-06-29 13:07] Bruno-Furtado commented on #32
@confile,
Can I close this issue?

[2015-07-01 19:29] Knights22 commented on #36
Always, Is it working for you?

[2015-07-01 21:17] Bruno-Furtado commented on #36
Yes , I will try to simulate the problem...

[2015-07-01 21:58] Knights22 commented on #36
I tried out a few months ago on 8.3, but i will download it again and give it a try.

[2015-07-02 12:34] woobione opened #43 "Remove "square" cropping"
Hi,
I might just be completely stupid but everywhere people are referring to the "square" branch of this project. But I can only see one branch and that one is locked to square size, both when taking a picture and selecting a picture. Is there a branch that can be used as a normal camera?

Thanks in advance!

[2015-07-06 20:10] Bruno-Furtado commented on #43
@woobione,
The project was designed to capture square images, but you can change these settings:

[TGCameraViewController - 254](https://github.com/tdginternet/TGCameraViewController/blob/2.2.1/TGCameraViewController/Classes/Control/TGCameraViewController.m#L254)
When calling this method the crop size is set. You can change it to the size you want.

[TGCameraViewController.xib (Optional)](https://

[2015-07-06 20:10] #43 closed

[2015-07-06 21:49] woobione commented on #43
@Bruno-Furtado Thank's for the help! I will make a fork of this project (probably tomorrow) [here](https://github.com/DicomExpense/TGCameraViewController) that will instead take regular sized pictures if anyone else asks for this ability. Would also like to thank you for a great project and let you know that we will use it in our application :)

[2015-07-07 14:12] woobione commented on #43
I have a fork of this project here that can be used if anyone wants to use normal sized images: https://github.com/DicomExpense/TGCameraViewController

To get through pod use:
[code]

[2015-07-11 07:11] 93PRAdip opened #44 "Can't add a nil AVCaptureInput'"
in that Can't add a nil AVCaptureInput' error is shown

[2015-07-13 05:18] Phillip3 opened #45 "use_frameworks! broke camera"
I recently had to start using frameworks for cocoa pods, but when I added the use_frameworks! keyword to the Podfile, the camera now just shows a black screen with no errors or warnings. I tried making sure the project was set to build for iPhone instead of general (a fix for a similar issue), but to no avail.

[2015-07-13 05:50] Phillip3 commented on #45
I created a blank project with a single view controller:
[code]
Here is my Podfile:
[code]
When you hit the button that executes the bringUpCamera() function, you get a black screen with no errors or warnings. It does not go away with time, and changing the device of the project target does not help.

[2015-07-14 21:23] MattFedo opened #46 "Changing the colors / images of the buttons?"
How can I change the icons and colors of the buttons?

I changed the xcassets, but it does not seem to do anything.

Thanks!

[2015-07-15 16:59] Bruno-Furtado commented on #46
@MattFedo,

See if this can help you...
https://github.com/tdginternet/TGCameraViewController#change-colors

[2015-07-15 16:59] #46 closed

[2015-07-15 17:07] MattFedo commented on #46
Dang, didn't even see that down there.  Thanks!!

[2015-07-20 02:08] nathankot commented on #45
this is happening to me too

[2015-07-22 20:26] holahyunsik opened #47 "Customizing UI."
Firstly, thank you so much for the library..!

This is not an issue but I absolutely need to customize the entire UI design.. Is there an easy way..?

[2015-07-22 21:06] holahyunsik commented on #47
Ah... just realized you're using storyboard.. never mind im gonna have to get rid of the storyboard and find all the UIs in order to change the whole thing :/

[2015-07-23 00:12] holahyunsik commented on #47
Can't edit anything.... not customizable at all.

[2015-08-06 20:37] kenancasey commented on #45
I have this same issue.

[2015-08-15 06:41] lfarah commented on #23
Same here on iOS 9

[2015-08-17 05:16] acidfilez commented on #45
The same issue, To Use I had to remove it from the pods, insert it manually in the project.

In the Header Bridge:
´´´
#import "TGCameraViewController.h"
´´´

[2015-08-17 13:22] Phillip3 commented on #45
I did that as well @acidfilez. Thanks for posting the work around.

[2015-08-26 10:47] gvmatera opened #48 "Possible to set front camera as default?"
I've been unsuccessful at trying to set the front camera as the default camera. Any suggestions?

[2015-08-26 11:13] gvmatera commented on #48
Nevermind, got it. If anyone else has this issue, here's what to do:

In TGCamera.m, on line 200:

Replace:
`AVCaptureDevice *device = [AVCaptureDevice defaultDeviceWithMediaType:AVMediaTypeVideo];`

With:

    NSArray *devices = [AVCaptureDevice devicesWithMediaType:AVMediaTypeVideo];

    AVCaptureDevice *device;

    for (AVCaptureDevice *aDevice in devices) {

        if (aDevice.position == A

[2015-08-26 11:13] #48 closed

[2015-08-31 01:58] lfarah opened #50 "Swift Version"
I made a Swift version of the TGCameraViewController example and I'd be cool to add on the Read.me: https://github.com/lfarah/TGCameraViewControllerSwift

[2015-08-31 04:07] lfarah opened #51 "Black Screen on presenting TGCameraViewController"
I had TGCameraViewController installed by CocoaPods and when I was presenting TGCameraViewController, it is showing me a black screen

[2015-08-31 04:08] lfarah commented on #51
Works when downloading TGCameraViewController classes without cocoapods

[2015-08-31 04:08] #51 closed

[2015-09-02 15:16] canaksoy opened #53 "Slow opening camera, take picture lag"
There is a small init waiting when opening camera view.
Also after taking a photo with a little hand movement makes taken photo blury.
Can you make any improvements about it?

iOS 8.4 - iPhone6 Plus.

[2015-09-19 11:28] intersilindia opened #54 "Set tintColor for Camera button issue in ios 9"
I just tested the code in ios 9 and found that the tint color which has been set to camera shot button doesnt appear
It seems to be an ios 9 issue since the same code works on ios 8 and prior,not sure though but still I would like you to please help me figure out the exact reason

[2015-09-21 14:25] miketraverso commented on #54
I've had a user also report this on an iPhone 6+ on iOS9 but unfortunately I cannot reproduce this on an iPhone 6+ with iOS9

[2015-09-22 08:30] philokezzar commented on #54
I got the same issue in iP6 iOS 9

[2015-09-22 17:03] miketraverso commented on #54
So figured this out. The XIBs buttons have the TGTintButton class. As a result the image is never set. I'm planning to create a pull request later today with a fix where the code will explicitly set the correct images. Once that code is applied there is no longer an issue with missing image assets on the buttons. The reason flash always appears because that's explicitly being set within the code.

[2015-09-23 08:43] woobione commented on #54
I have the same issue. Looking forward to your pull @miketraverso :)

[2015-09-24 18:29] miketraverso commented on #54
BUG FIX: Update type to on return type.	e98b3cd
Added outlets and changed types of UIButton in code but TGTintedButto… …	88f6278
Added outlets and changed types of UIButton in code but TGTintedButto… …	 2652bd9

[2015-10-07 20:47] ADSolutions commented on #54
any news?

[2015-10-07 21:13] miketraverso commented on #54
I created the pull request a while back. Haven't seen any action on that and can't create my own branch. The links to my checkins are in the comment above though.

[2015-10-08 05:24] ADSolutions commented on #54
@miketraverso thank you! i'll try it now

[2015-10-12 20:18] juanchoc commented on #44
One of my users is also encountering this issue.
Device: iPhone 5
OS: iOS 9.0.2

Fatal Exception: NSInvalidArgumentException
*** Can't add a nil AVCaptureInput

[2015-10-12 22:39] lfarah commented on #36
+1

[2015-10-12 22:41] lfarah commented on #36
I forgot that I already had this problem and that's how you can fix it: #51

[2015-10-14 09:26] iHardikTrivedi commented on #54
Thank you very much . . .

It's work fine . . .

[2015-10-14 09:29] 278swati commented on #54
Thanks a ton... it helps a lot in my project as it won't works with device when i change color ... ur solution is really works as magic !

[2015-10-16 00:08] kunwarh opened #56 "Experiencing crash on imageFromContext: method on iOS 9"
Everything works fine on iOS 8 but on updating to iOS 9 i get a crash on line
 "CGImageRef imageRef = [context createCGImage:outputImage fromRect:extent];"
 I think it has something to do with CIContext but not able to figure what it is. Any help would be highly appreciated.

[2015-10-22 02:47] alexandre-g commented on #54
An easier fix would be just removing the `__weak` from these lines in TGTintedButton.m updateTintIfNeeded: method.
[code]

Anyone here know if that will lead to leaked UIImages?

[2016-01-23 14:19] ingouackaz commented on #51
The problem comes from bundle ressources.

If you want to use cocoapods, you have tu to copy paste all resources of TGCameraViewController in your local bundle

[2016-02-12 11:49] deada92 commented on #53
+1

iOS 9.3 - iPhone 5s

[2016-02-12 12:06] deada92 opened #59 "Resources (Images) are missing when running on release mode"
So this is the first using this library. A few beta testers (Testflight) told me that the CameraViewController had no buttons or any controls. When I build and deploy it with xcode on Debug mode theres no issue... But if I run it on release mode few Images are missing like in the image below!

I tried to search about general xcassets issue but theres none. Can you give any hint where the problem m

[2016-02-12 21:21] deada92 commented on #59
created also a stackoverflow question to this: [http://stackoverflow.com/questions/35372112/missing-resources-on-release-mode](Link)

[2016-03-01 08:11] ryderjack opened #61 "Taking photo leads to black screen"
Installed via CocoaPods and through downloading files and get this error both ways. Tap the take photo button and the image part of the screen goes black and cancel button doesn't work.

Running on  iOS 9.2

[2016-03-01 10:54] MattiaConfalonieri commented on #59
Same issue here... any fix?

[2016-03-01 10:59] MattiaConfalonieri commented on #54
@alexandre-g are you sure your easy fix work?

[2016-03-01 11:15] alexandre-g commented on #54
@MattiaConfalonieri works very well, in 2 production apps

[2016-03-01 12:32] abbasmousavi commented on #54
It works in my production app too.

[2016-03-01 21:20] lfarah commented on #61
Hey @ryderjack, the fix for that is to download the project from Github instead of using cocoapods. I found that on #51

[2016-03-03 04:39] chamoda opened #62 "Select multiple images at once"
Thanks for the great library. It it possible to select multiple images at once or/and take multiple images?

[2016-03-04 16:13] derekmeiresonne commented on #59
Having the same issue. I'll give your StackOverflow solution a try, thanks!

[2016-03-05 15:53] dreamgo opened #63 "The gesture function for the image which pickup from the album"
Anyone knows which files include the function that handle the gesture for the cropping image? Thanks.

[2016-03-06 00:57] #36 closed

[2016-03-10 10:10] amitsystech commented on #59
Solution is not working in my case. Any other solution?

[2016-04-08 02:05] Alexgao11 commented on #45
What if I want to use_frameworks! for other dependencies?

[2016-04-11 14:30] coderwsli opened #64 "Photo Album button disappear when not run in debug mode"
![img-20160411-wa0012](https://cloud.githubusercontent.com/assets/7858565/14430640/fa23b858-0034-11e6-9341-83fba86fa84d.jpg)

Any advice?

[2016-05-07 00:20] jackintosh7 opened #65 "No UI release build Swift"
When I debug on my iPhone the UI is there, all the images and colors. However when I get a release build and send it to my testers via Ad-hoc the UI is missing, the controls still work however the assets are missing. Any ideas?

[2016-05-30 02:43] MyOnlyOnlySunshine opened #66 "能不能改成录像的啊"
这个是自定义的相机类，可不可以改成录像的啊

[2016-05-30 02:52] yuchaozh commented on #66
可以啊，我自己加了一个button用来录像的

[2016-05-30 12:27] MyOnlyOnlySunshine commented on #66
这也可以  demo方便分享不 。。。

[2016-06-20 15:38] D34thStalker commented on #59
Has there been a fix for this?

[2016-06-20 15:48] yuchaozh commented on #59
@D34thStalker http://stackoverflow.com/questions/24897851/why-does-my-distributed-app-look-different-than-it-did-while-debugging-in-xcode try this. I met the same issue, this helped me to fix the issue.

[2016-06-20 15:49] D34thStalker commented on #59
I just found a way to fix this.
Inside TGCameraViewController.m and TGPhotoViewController.m you can see similar button image setups, the Camera Album and Camera Wand Filter seem to be left out of this. If you add them in with the images, they will show up

[2016-06-20 16:08] D34thStalker commented on #59
@yuchaozh I'm not entirely sure I want to mess with those options. But take a look at my previous comment. This is working now for me with what I did

[2016-06-21 18:46] thisarasr opened #67 "Can support for videos?"
Is it possible to take videos using this plugin? Please let me know, how may I implement this for videos?

[2016-06-21 18:58] kvnbautista commented on #67
No you may need to wait for a new update on this repository.

[2016-06-22 12:18] macecchi commented on #67
There are no plans to support for video at this time 😢
Feel free to submit a PR if you can make it happen :)

[2016-06-28 18:17] D34thStalker opened #68 "Zoom Support?"
Is there a way to zoom in/out the camera view?

[2016-07-01 12:53] zebganzo commented on #64
up

[2016-07-20 03:26] ZhipengApv commented on #64
same problem on iOS 9.3.3

[2016-07-20 14:30] macecchi commented on #64
Thanks for reporting. I'm working on an fix for it right now!

[2016-07-20 16:22] macecchi commented on #65
Hi @jackintosh7! Are all the assets missing or just a few? This could be related to #64.

[2016-07-21 12:32] Remyoman commented on #45
Experiencing the same issue. I set the use_frameworks! flag for all my projects and also use the module import statement. This means I can't simply not use frameworks.

Manually importing is a workaround, but this indicates there might be a problem with the podspec.

[2016-07-21 13:47] macecchi commented on #45
I'm working on a new release right now and I'll check what's going on. Thanks!

[2016-07-22 03:41] macecchi commented on #68
Currently, no. It might be added in the future, but we can't promise any dates :/

[2016-07-22 03:42] macecchi commented on #50
An example project has been added to the repo now. Thanks!

[2016-07-22 03:42] #50 closed

[2016-07-22 03:49] #47 closed

[2016-07-22 03:51] macecchi commented on #53
A few performance improvements have been made in version [2.2.3](https://github.com/tdginternet/TGCameraViewController/releases/tag/2.2.3). Can you see if that helps?

[2016-07-22 03:51] #53 closed

[2016-07-22 03:54] macecchi commented on #59
This is the same issue as #64. I have pushed an update in version 2.2.3 that should fix that. Can you test if it fixed it?

[2016-07-22 03:55] macecchi commented on #62
Currently, no :/

[2016-07-22 03:55] #32 closed

[2016-07-22 03:56] #29 closed

[2016-07-23 14:20] macecchi commented on #64
I pushed version 2.2.3 now. Could you try updating the pod and see if it fixed that issue?

[2016-07-23 14:22] macecchi commented on #45
I tested it with version 2.2.3 and it seems to have fixed it. Could you try updating the pod to the latest version and see if that's fixed?

(Just to make sure: if you use `use_frameworks!` you have to add the headers to the Bridging File and also `import TGCameraViewController`.)

[2016-07-23 14:23] macecchi commented on #65
I pushed version 2.2.3 now. Could you try updating the pod and see if it fixed that issue?

[2016-07-25 08:47] Remyoman commented on #45
@macecchi The new podspec isn't pushed to the master repo.

I tried it by installing it through the 2.2.3 tag, but it still comes up with a black screen on my device. The library is used with
[code]
I also noticed the TGCameraFunctions.h can create duplicate symbols because it isn't guarded.

[2016-07-25 12:50] macecchi commented on #45
Thanks @Remyoman. I was able to reproduce it here.

I think the podspec is pushed. I just ran `pod updated` from a project and it detected the latest version. Did you update your repo? `pod repo update`

[2016-07-25 15:05] macecchi commented on #45
@Remyoman I just pushed a new version - 2.2.4 - which I believe that fixes it! Could you try it and tell me if it works?? :)

[2016-07-25 17:15] zoufishanmehdi opened #69 "takePhotoTapped not working"
Hi, I'm trying the updated version of TGCamera as camera icon UI was not showing up for iPhone 5 previously. I manually added the updated `Classes` folder under `TGCameraViewController`, but it appears that `func takePhotoTapped:` doesn't work anymore when TGCameraNavigationController is supposed to be presented. Any ideas? Your help would be much appreciated. Thank you!

[2016-07-25 18:13] macecchi commented on #69
HI @zoufishanmehdi! Can you tell if takePhotoTapped is being called or if it's just not presenting the view controller?

And how are you importing the library? You're not using CocoaPods?

[2016-07-25 19:02] zoufishanmehdi commented on #69
Thank you for your reply. `takePhotoTapped` is being called. It goes to both `let navigationController = TGCameraNavigationController.newWithCameraDelegate(self)`
        `presentViewController(navigationController, animated: true, completion: nil)` but crashes instead of presenting the navigation controller.

Instead of using cocoapods, I manually dragged `TGCameraSwiftBridgingHeader`, `Resources

[2016-07-25 19:09] macecchi commented on #69
Are there any logs or trace about the crash? Can you try stepping in this method to see what crashes it?

I'd guess this is related to changing how the classes are loaded, which is what I updated today. Could you try using version 2.2.3 to see if it works?

Also, I strongly recommend using CocoaPods, but if that's not an option I'll see what else we can do.

[2016-07-25 20:06] zoufishanmehdi commented on #69
Since I set up breakpoints in `TGCameraNavigationController.m` methods, it crashes and goes straight to AppDelegate like the screenshot above instead of calling `func takePhotoTapped`

I will try `pod 'TGCameraViewController', '~> 2.2.3'` and see if that fixes the issue. Thanks again for your help.

[2016-07-25 20:21] macecchi commented on #69
No problem. Please tell me if that worked :)

Using CocoaPods should work with the latest version. If it still doesn't work, use `pod 'TGCameraViewController', '2.2.3'` (without `~>`) to use the specific version.

[2016-07-26 08:29] Remyoman commented on #45
@macecchi Yes, it works for me now. Thanks for the fast fix!

[2016-07-26 11:26] macecchi commented on #45
Yay! 🎉

[2016-07-26 11:26] #45 closed

[2016-07-26 11:28] macecchi commented on #64
I'll close this for now but please don't hesitate do post if you still have that issue :)

[2016-07-26 11:28] #64 closed

[2016-07-26 11:29] macecchi commented on #61
I'm closing this due to inactivity and lack of more info. If you still have that issue please don't hesitate to open it again :)

[2016-07-26 11:29] #61 closed

[2016-07-26 11:32] macecchi commented on #65
I'm closing this due to inactivity and lack of more info. If you still have that issue please don't hesitate to open it again :)

[2016-07-26 11:32] #65 closed

[2016-07-26 11:33] macecchi commented on #59
I'm closing this due to inactivity and because it was probably already fixed. If you still have that issue please don't hesitate to open it again :)

[2016-07-26 11:33] #59 closed

[2016-07-26 12:53] #66 closed

[2016-07-26 20:42] zoufishanmehdi commented on #69
Hi, I installed cocoapods as you recommended, but I'm still having issues :/ I set up breakpoints to check whether `takePhotoTapped` is being called and it goes thru all the methods in `TGCameraNavigationController.` It goes thru all the methods and then all I see is a black screen, not a camera with icons. Any ideas? I might have to revert it back to the previous version if this doesn't work.

[2016-07-26 20:45] macecchi commented on #69
Can you try with the latest version (2.2.4) and CocoaPods?

On Tue, Jul 26, 2016 at 17:42 Zoufishan Mehdi

<
mailto:Zoufishan Mehdi <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Hi, I installed cocoapods as you recommended, but I'm still having issues :/ I set up breakpoints to check whether

takePhotoTapped

is being called and it goes thru all the

[2016-07-26 21:35] acort3255 commented on #67
Check out my fork @kvnbautista @thisarasr @macecchi. I've have added basic video support, and would love feedback ✌️😎

[2016-07-27 14:19] zoufishanmehdi commented on #69
I tried the latest version (2.2.4) and it works. Thank you so much :)

[2016-07-27 14:49] macecchi commented on #69
Yay!

[2016-07-27 14:49] #69 closed

[2016-07-29 04:55] allanmacatingrao opened #70 "Selected Photo from Library Appears to be Out of Bounds"
I have tried loading image from Photo Library but the layout of the selected image is out of bounds.

This is when selecting the image from the album:
![img_4102](https://cloud.githubusercontent.com/assets/4327024/17238112/6d29d430-558b-11e6-9a13-74834630bddb.PNG)

This is the view after selecting the image:
![img_4103](https://cloud.githubusercontent.com/assets/4327024/17238115/6fbea41e-558b-11e6

[2016-07-29 18:43] macecchi commented on #70
Thanks for reporting this. This is happening because UIImagePickerController is being presented as a fullscreen modal when it's supposed to be presented with a popover. I'm working on a fix right now.

[2016-07-30 14:47] Stan92 opened #71 "ALAssetsLibrary is deprecated iOS9"
Hi,
How to fix this warning message (ALAssetsLibrary is deprecated use PHPPhotoLibrary)?
Thanks..

[2016-07-30 15:52] Stan92 opened #72 "BackgroundColor of the big Circle"
Hi again..
Just a quick question. Is it possible to change the background color of the "Validation" circle or the color of the "Validation Mark"?
When I set the tint color to white..  both come with White color.
And btw, my status bar disappears when I tap onto the button that launches the TGCameraNavigationController. How to avoid this?

And last but not least.. I thank you :-) for sharing this l

[2016-08-01 14:51] macecchi commented on #72
No, you can't change the checkmark's color for now. It's always set as white :/
I'll add another option to set a different color on a future release.

About the status bar, it should reappear after you dismiss the camera controller, not affecting your app.

[2016-08-01 14:54] #70 closed

[2016-08-01 15:01] macecchi commented on #71
The library needs to be updated to use PHPhotoLibrary. For now there's not much you can do, but if you import the library using CocoaPods you won't have this warning in your project.

[2016-08-01 15:14] Stan92 commented on #71
I used Pod for importing the project

[2016-08-01 16:39] macecchi commented on #71
Sorry. For some reason when I'm using CocoaPods the warnings don't show up.

Try using this in your Podfile:
[code]

[2016-08-01 16:47] Stan92 commented on #71
No problem.. I got the same warnings.. using the additional parameters.
Anyway, I m not blocked cause your library works for the moment.
I thank you once again for your support.

[2016-08-25 21:27] yao23 opened #73 "Features to improve"
1. All camera photos are very unclear and fuzzy
2. Doesn't focus clearly on the item
3. Camera takes a while to focus

[2016-09-17 18:15] swabzz opened #74 "Custom rectangular shape crop"
Hi!
Is there any option to make the cropper to take a custom rectangular shape, rather than a simple square?

[2016-09-19 19:20] macecchi commented on #74
No :/
As this will not be implemented any time soon, I will be closing this issue. If anyone wants to contribute to this, please submit a PR :)

[2016-09-27 03:23] ipraba opened #75 "ERROR ITMS-90682: Invalid Bundle - The asset catalog at 'Payload/XXXXX/Assets.car"
First. This is a great component.

When uploading our app to app store we are getting this error from iTC
ERROR ITMS-90682: Invalid Bundle - The asset catalog at 'Payload/XXXXX/Assets.car' can't contain 16-bit or P3 assets if the app supports iOS 9.3 or earlier

This means in our assets we had those non compatible images. After some research i found that the images in TGCameraViewController  are P

[2016-09-27 03:28] ipraba commented on #75
Sorry. You already fixed it. Closing it.

[2016-09-27 03:28] #75 closed

[2016-09-30 17:50] macecchi commented on #75
Hey @ipraba. Sorry for the inconvenience. As you already noted, this has been fixed in [2.2.6](https://github.com/tdginternet/TGCameraViewController/releases/tag/2.2.6).

Also note that when building with iOS 10 you have to add some keys to your app's plist: https://github.com/tdginternet/TGCameraViewController#privacy-ios-10.

Thanks!

[2016-10-01 13:41] abbasmousavi opened #76 "TGCameraViewController is not compatible with iOS 7. Please bump up the iOS version in podspec"
TGCameraViewController uses ```imageNamed:inBundle:compatibleWithTraitCollection:```  in many places. it is iOS 8+ API

[2016-10-03 20:01] jpmcglone opened #77 "How do I set the default camera position to front instead of back?"

[2016-10-04 18:13] macecchi commented on #77
Not currently. But now that you said it it sounds like an obvious feature.

[2016-10-10 15:05] macecchi commented on #76
Thanks @abbasmousavi. I just pushed this fix in [v2.2.7](https://github.com/tdginternet/TGCameraViewController/releases/tag/2.2.7).

[2016-10-10 15:05] #76 closed

[2016-10-22 04:57] lichenglu opened #79 "- (void)saveJPGImageAtDocumentDirectory:resultBlock:failureBlock: failed to save image to path"
Hi first of all, thank you so much for doing this project, which is awesome and would save me a lot of time.

However, when I used it, I found a potential bug and not sure what have caused it: the taken/picked image is not successfully saved to Image path.

I found this issue as I implemented the `cameraDidSavePhoto(assetURL:)` delegate method, and tried to load the image by its returned imgURL. T

[2016-10-22 20:58] macecchi commented on #79
Hi! I couldn't understand exactly how to reproduce the issue. Does the method always return with a wrong url? Can you give me the steps to reproduce it?

[2016-10-22 21:20] lichenglu commented on #79
Hi macecchi, thanks for the reply!

Sorry I did not make myself clear. So the problems I think are:

1. Currently, the assetURL for the image is not a file URL, which does not have the "file://" prefix protocol. Because the assetURL was initialised with `NSURL(URLWithString:)`
2. The image is NOT saved to the "../Document/Images" directory.

I tested by doing the following in the didSavePhoto dele

[2016-10-24 06:51] swabzz commented on #74
Can you please suggest how should i find solution for this??

[2016-10-24 07:47] swabzz commented on #43
@woobione, your solution is not working. when i launching cameraviewcontroller it showing nothing but a blank window with black color background.

[2016-10-24 07:57] woobione commented on #43
@swabzz We actually use the exact version above in our project with 20k+ users every day and it works just fine for us. However, I haven't updated the code to match the latest version and haven't touched anything of the branch in over a year so there is a big chance it's no longer compliant with the new SDK. Since we are making a new major version of our app which will not use this controller I wi

[2016-10-24 09:15] swabzz commented on #43
@woobione thanks for quick reply.

Actually i am using this library to capture two different size images with different aspect ratio in my application. can you suggest me what change i should make here please?

[2016-10-24 11:21] woobione commented on #43
@swabzz As I haven't looked at the code since the new changes I don't know if it still works the same. But see @Bruno-Furtado 's answer above. You have to change the capture view to support full screen live view instead of square live view if that's something you want. Then you also have to change the cropping-function to not crop. Then you can do the final cropping in your app code instead of in

[2016-11-03 07:57] swabzz opened #81 "Cant open TGCameraViewController in UICollectionViewCell"

[2016-11-17 10:32] bintu1234 commented on #67
@acort3255  Hi i tried this lib great experience.you said that video support but i didn't find any thing can you please help me for i need video capture also if possible.Thanks in advance

[2016-11-17 12:16] macecchi commented on #81
?

[2016-11-17 12:40] macecchi commented on #67
Hi @acort3255, your fork looks awesome! I noticed that you also changed a lot of things and rewrote most - if not all - of it in Swift. Nice! I'll be testing it now but as it changes so many things, I don't know if I'll be able to merge it.

@bintu1234 His fork is here. Note that the installation and setup instructions are different: https://github.com/acort3255/TGCameraViewController

[2016-11-17 16:20] acort3255 commented on #67
My apologizes for the late response gentlemen. I was in class. If you tap and hold the shot button the camera will begin to recording @bintu1234. Hi Mario (@macecchi), it is okay if we don't merge. Mario like you said I have made a lot to the original library, and think be more beneficial if we keep the libraries separate. It would beneficial for both Objc developers looking to move to Swift and S

[2016-12-15 22:49] yao23 commented on #64
@macecchi v2.2.7 fixes the missing album button!

[2016-12-15 23:18] yao23 commented on #64
But it hides status bar after show camera page, the following code will show it again:

    [self setNeedsStatusBarAppearanceUpdate];
    self.navigationController.navigationBar.barStyle = UIBarStyleBlack;
    self.navigationController.navigationBar.translucent = NO;

[2017-01-06 20:22] zoufishanmehdi opened #84 "Photo library button not visible for iPhone 7/iOS 10.2"
Hi, I noticed the photo library button (on the bottom right) to use a previously taken picture from the photo library is no longer visible for iPhone 7 and iOS 10.2. This wasn't an issue with iPhone 6S using iOS 10.1. Any ideas?

[2017-01-06 20:41] macecchi commented on #84
Hi @zoufishanmehdi! Which version of the Pod are you using?

[2017-01-06 20:44] zoufishanmehdi commented on #84
pod 'TGCameraViewController', ‘2.2.4’ I guess I need to update to '2.2.8'

[2017-01-06 20:47] macecchi commented on #84
Could you try updating it and see if it worked? I believe there was a fix in #78 which fixed that issue. 😉

[2017-01-06 21:01] zoufishanmehdi commented on #84
Yep, I will let you know if that fixes things :)

[2017-01-10 11:13] swabzz commented on #74
I am still waiting for this feature in library??
any update on that please?

[2017-01-10 15:47] macecchi commented on #74
Hi @swabzz. I'm working on this feature right now.

How do you expect this to work? As the default (by setting that in code in the TGCamera options) or as an option to the user?

[2017-01-10 16:36] #72 closed

[2017-01-10 16:37] #44 closed

[2017-01-10 16:37] #19 closed

[2017-01-10 16:39] macecchi commented on #54
Fixed in #78 and released in v2.2.7.

[2017-01-10 16:39] #54 closed

[2017-01-10 17:04] macecchi commented on #84
Hi @zoufishanmehdi. Did you try the latest version? Did it work?

[2017-01-10 17:13] macecchi commented on #63
That functionality is handled natively by [UIImagePickerController](https://developer.apple.com/reference/uikit/uiimagepickercontroller), who is responsible for displaying the photo editing screen after an album image is selected.

[2017-01-10 17:13] #63 closed

[2017-01-10 17:14] macecchi commented on #56
I'm closing this issue due to the lack of activity and further debug information. If this issue still persists in the latest version of the pod, please tell us :)

[2017-01-10 17:14] #56 closed

[2017-01-10 17:18] macecchi commented on #73
Could you share more details or screenshots? Why do you think the photos are unclear/fuzzy?
Thanks!

[2017-01-10 20:12] zoufishanmehdi commented on #84
Do you recommend updating to '2.2.8' or '2.2.7'? I'm using iPhone 6s but I will be able to test on iPhone 7 tomorrow.

[2017-01-10 23:25] macecchi commented on #84
Either one should fix your issue, but upgrade to 2.2.8, the latest :)

On Tue, 10 Jan 2017 at 18:12 Zoufishan Mehdi

<
mailto:Zoufishan Mehdi <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Do you recommend updating to '2.2.8' or '2.2.7'? I'm using iPhone 6s but I will be able to test on iPhone 7 tomorrow.

—

You are receiving this because you comment

[2017-01-11 05:21] swabzz commented on #74
Yes as an option to the user in TGCameraViewController?
Passing height & width as a parameters would be best :-)

[2017-01-12 21:10] yao23 commented on #73
I updated to v2.2.7 and it's better for image quality now.

Did you improve the speed to focus?

[2017-01-13 12:07] macecchi commented on #73
I haven't changed anything related to that on the latest versions. What version were you using before? Can I close this issue?

[2017-01-14 06:20] swabzz commented on #74
Are you working on this???

[2017-01-14 23:01] yao23 commented on #73
OK, I will close it. Please keep improving the speed to focus and quality of photos.

[2017-01-14 23:01] #73 closed

[2017-01-15 01:36] zoufishanmehdi commented on #84
It works for iPhone 7! Thank you for your help :)

[2017-01-16 12:32] #84 closed

[2017-01-16 12:32] #81 closed

[2017-01-16 12:51] macecchi commented on #74
@swabzz Yes, but I'm implementing as a boolean option to either use a square size or the original size. Is there any reason you prefer defining the width & height manually?

[2017-01-16 13:48] macecchi commented on #74
I've added an option to disable cropping. Does that work for you? You can test it in [this](https://github.com/tdginternet/TGCameraViewController/tree/feature/standard-image-aspect) branch.

[2017-01-18 07:48] swabzz commented on #74
@macecchi, no disabling the crop not working for me, I am using library to crop image in two different aspect ratio in same project.

[2017-01-18 11:30] macecchi commented on #74
@swabzz Do you mean the option is not working or it does not fit your needs?

[2017-01-18 16:05] swabzz commented on #74
thanks for help buddy but It does not fit to my need.
I need to user same library in same project with 2 different aspect ration.
i mean parameterised tg instance.

[2017-01-18 17:42] macecchi commented on #74
I see. So you need to get the same photo in two different aspect ratios? In that case it makes more sense to get the original photo from the library and then crop manually, as it is a very specific use case.

If you sometimes want to take a square photo and sometimes the original photo, you can change the TGOption before each.

[2017-01-19 05:11] swabzz commented on #74
Hello @macecchi

I am not using same photo in different aspect ratio but different photos on different view-controllers in different aspect ratio.

so i want to use library to get and crop different images in different aspect ratios.

Ex -- On one page I want profile image in 2:2 aspect ratio and on other page i want to take featured image in 2:3 aspect ratio.

Thanks in advance buddy :-)

[2017-01-19 20:30] macecchi commented on #74
I get it now. You can just set the TGOption with the original or square aspect right before calling TGCameraViewController in each of your view controllers. I think that would work for you.

[2017-01-20 09:34] swabzz commented on #74
Thanks @macecchi but didn't get you.
can you please show me any example for how to use different crop aspect ration on different view controllers??

[2017-01-22 22:45] jackpaster opened #87 "Crashing when a picture is taken"
@confile @adamtootle @psobot @ruanltbg @kindraywind Hello, First of all this is an amazing project. But theres one problem. I'm using this camera view in my settings page and when a user clicks on the profile image, this camera pops up and when an image is taken the picture taken will be the users new profile image. The only problem is that this project works fine if the settings view controller i

[2017-01-23 12:02] macecchi commented on #87
Hi @jackpaster. Could you attach a crash report with the stack trace of the crash? This is the only way I can investigate the issue.

[2017-01-23 12:46] macecchi commented on #74
Assuming you are in your view controller 1, where you use the square aspect ratio, you call TGCameraViewController like this:

[code]

And then, on your view controller 2, where you want the 2:3 aspect ratio, you'd call the library like this:

[code]

This is assuming you are configuring your Podfile to use the branch `feature/standard-image-aspect` instead of the release. I haven't tested everyth

[2017-01-23 15:32] swabzz commented on #74
Thanks @macecchi
I will try it and let you know

[2017-01-24 07:56] swabzz commented on #74
@macecchi

Where are you defining the variable for aspect ration (2:3) ?

Do i need to define it anywhere in code?

Sorry for silly questions but i am confused about its working :-) Hope you understand

[2017-01-24 13:14] macecchi commented on #74
[code]

[2017-01-24 13:30] swabzz commented on #74
Thanks @macecchi

@macecchi what if i need to use cropping aspect ratio to 3:2 ?

Do i have any option to ser cropping parameter anywhere?

[2017-01-24 13:34] macecchi commented on #74
@swabzz The option above enables the original aspect ratio of the camera, which is 2:3 / 3:2 already. You don't need to crop it.

[2017-01-24 13:36] swabzz commented on #74
Okay Let me give a try

[2017-02-12 21:48] neilabdev commented on #79
Experienced the same issue. Fix is here: https://github.com/tdginternet/TGCameraViewController/pull/88

[2017-03-07 11:54] Marcopohlo opened #89 "Use custom aspect ration"
Hi, I really like your library, is it possible to use custom aspect ratio? Like 3:4, 16:9 etc?

Thank you for your answer

[2017-03-07 14:05] macecchi commented on #89
Hi @Marcopohlo! There is a feature branch that allows using the default aspect ratio (3:4) in the branch [feature/standard-image-aspect](https://github.com/tdginternet/TGCameraViewController/tree/feature/standard-image-aspect).

You can check the discussion about this feature in #74.

It only wasn't released yet because I couldn't test it in different devices. If you test it please give me your fe

[2017-03-20 14:04] macecchi commented on #89
@Marcopohlo did that work out for you? Can I close the issue and move the discussion to #74?

[2017-03-20 14:05] macecchi commented on #87
Closing the issue due to lack of more info. If you still need help, please reopen it and attach more relevant information so I can debug it :)

[2017-03-20 14:05] #87 closed

[2017-03-20 14:06] macecchi commented on #74
@swabzz Could you get it working? Do you have any feedback?

[2017-03-20 14:47] swabzz commented on #74
No
Its not working yet as i was expecting

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Mario Cecchi <notifications@github.com>
Sent: Monday, March 20, 2017 7:36:32 PM
To: tdginternet/TGCameraViewController
Cc: SwabzZ; Mention
Subject: Re: [tdginternet/TGCameraViewController] Custom rectangular shape crop (#74)

@swabzz<https://github.com/swabzz> Could you get

[2017-03-20 17:21] macecchi commented on #74
@swabzz Could you give any more details? What is happening and what is the expected behaviour?

[2017-03-21 06:35] swabzz commented on #74
Hi,

Thanks for replying sir.

In my app i need 2 buttons on same page to get images as
(1) - Profile image (1X1) and
(2) - Background image (3:1)

Thanks.
Shoaib Bagwan

________________________________
From: Mario Cecchi <notifications@github.com>
Sent: Monday, March 20, 2017 10:51 PM
To: tdginternet/TGCameraViewController
Cc: SwabzZ; Mention
Subject: Re: [tdginternet/TGCameraViewController] Cus

[2017-03-22 00:47] macecchi commented on #74
1) The 1:1 format is the standard one.
2) Earlier you said you needed 3:2 format, which is possible with the current implementation. 3:1 is a very specific format so it makes no sense to include it as an option. However, you can easily get a photo with the original aspect and then crop programatically.

I'll be closing this issue as I think we have reached what was purposed in the beginning of thi

[2017-03-22 00:47] #74 closed

[2017-03-30 05:05] ajay2c9 opened #90 "how to implement Burst effect."
Hi, I want to implement the burst effect by using this pod. Is there any possibility to implement this effect.
Thank you

[2017-03-31 03:05] macecchi commented on #90
Hi @ajay2c9. Could you be more specific about what you mean by "burst effect"? What would be the use case for this?

[2017-03-31 03:05] #89 closed

[2017-03-31 04:26] ajay2c9 commented on #90
We can take continuous images in iPhone (Process: open camera--> Press vol+) it will take continuous images.This effect is burst effect. Is there ay possibility to implement this effect.

[2017-03-31 04:47] macecchi commented on #90
Oh, right.

Sorry, but there is no way to implement this feature now. 😕

I'm going to close this issue as this is not going to be implemented.

[2017-03-31 04:47] #90 closed

[2017-04-19 13:25] serjooo commented on #74
How about making the camera more customizable by making that square cropper resizable by dragging the sides and then before initializing the camera you would set a boolean if you want to use that feature or not

[2017-05-16 15:19] damboscolo opened #91 "Carthage compatible"
I would like to use TGCameraViewController with Carthage.

[2017-05-24 07:52] yosuke1985 opened #93 "When open TgCameraViewController"
awesome library! thank you!

anyway I have a question, when I open TGCameraViewController,
NavigationParts would squeeze a little bit.
You can check from this example also.

Can you fix it this problem?

[2017-10-06 13:48] theolof opened #94 "Cropped image sometimes shifted to the left"
This happens when choosing an image from the library. I doesn't happen every time though, and I have tried with lots of different images - it can happen with all of them, except for landscape images.

The resulting image is also not according to the bounds of the cropping square in the first view (look at the bottom of the plate in the pictures).

![img_2421](https://user-images.githubusercontent.

[2017-10-10 17:56] zoufishanmehdi opened #95 "Swift 4 support"
Hi, are there any plans to migrate to Swift 4 in the near future? Thank you.

[2017-10-19 12:25] tspop opened #96 "Crash in [TGCamera setupWithFlashButton:], nil AVCaptureInput"
Can't reproduce the issue, happening rarely in production.

Seems like not checking for errors in this code is the offender, from googling around I see this can return an error in case the AVCaptureDeviceInput is unavailable.

[code]

Stack Trace:

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[AVCaptureSession addInput:] Can't add a nil AVCaptureInput'

[2017-10-25 06:36] xiaokfc2012 commented on #93
same question!!

[2017-10-25 06:40] xiaokfc2012 commented on #77
hello macecchi, I need this feature, when will it be possible？

[2017-10-27 07:03] theolof commented on #95
It's made in objc, so it works with any Swift version

[2017-10-30 19:53] zoufishanmehdi commented on #95
@theolof  Ok, thank you

[2017-11-18 10:32] AsadJavid opened #97 "support for video capture"
how can i add video capture support in tgcameraVc . i tried but did'nt find a way , can you help?

Asad

[2017-12-08 22:47] zoufishanmehdi opened #98 "Capture or select the full image from the photo library instead of square image"
Hi, I would like to be able to capture or select the full image from the photo library instead of uploading a square image. What's the best way of doing that? Thank you.

[2017-12-14 20:22] macecchi commented on #98
Hi @zoufishanmehdi,

Did you check the option `kTGCameraOptionUseOriginalAspect` (described [here](https://github.com/tdginternet/TGCameraViewController#options)).

[2017-12-15 17:05] zoufishanmehdi commented on #98
Thanks for the reply. I have pod 'TGCameraViewController', ‘2.2.8’ installed. I don't see the option`kTGCameraOptionUseOriginalAspect` in TGCamera.h.

[2017-12-18 12:56] antoniqhc opened #99 "Status bar issue"
Hi when i try to upload image and edit it is not cut properly .
![img_7823](https://user-images.githubusercontent.com/4948280/34107048-612890ba-e403-11e7-84fe-0e842c520ffc.png)
![img_7824](https://user-images.githubusercontent.com/4948280/34107055-6993b7e8-e403-11e7-8541-d228785dcc80.png)

I debug and saw that this is cause by tabbar. Is it possible to add options for hide / show tabbar ?

[2018-01-07 16:26] Adrian1kat commented on #98
I also cannot find the kTGCameraOptionUseOriginalAspect option. Was it removed?

[2018-01-12 22:12] zoufishanmehdi opened #100 "camera image appears rotated"
Hi! When I take a photo with TGCamera and upload it thru my mobile app, it shows up rotated on the website. Is there anything in the image tag being sent that could change image orientation? Please view the image below for reference. Thank you!

<img width="462" alt="screen shot 2018-01-12 at 5 09 04 pm" src="https://user-images.githubusercontent.com/12058032/34897358-a2b400c0-f7bb-11e7-9c6b-9e9c8

[2018-01-12 23:43] Adrian1kat commented on #100
Hi @zoufishanmehdi
It appears that your picture is not square. Were you able to us the kTGCameraOptionUseOriginalAspect feature? Because I cannot find that option in the latest build.

[2018-04-09 02:03] artangco opened #103 "Tried downloading source files but get errors related to"
I copied over the files to my project and tried to compile and I get errors related to this file:

TGCameraFunctions.m

![error](https://user-images.githubusercontent.com/1365838/38475841-39c302b6-3b70-11e8-87f4-dec7f7523ef2.png)

any help is much appreciated.

[2018-04-26 15:18] zoufishanmehdi opened #104 "Black screen comes up when I click on camera button every once in a while"
Hi, I'm using TGCameraViewController cocoapod for my project. It works fine for the most part but sometimes black screen comes up when I click on camera button. I know a similar issue related to black screen was reported before and the suggested solution was to copy all resources. I checked my project and it already includes everything from the resources folder i.e. TGCameraViewController.bundle.

[2018-05-09 14:41] prasenraj opened #105 "How to pass value from viewcontroller to cameraview controller"
I add pod file and its working fine. But My problem is that I add one Title label one cameraView and every time this Title label value will be changed. I try to pass the value from view controller to tgcameraviewcontroller but always value is null .how to solve it.please help me .

TGCameraNavigationController *navigationController = [TGCameraNavigationController newWithCameraDelegate:self];
navig

[2018-06-04 08:27] zhangmingjing opened #107 "flashButton clicking invalid"

[2018-10-11 07:19] sahil216 opened #108 "ALAssetsLibrary is deprecated iOS9 Please Help me Out"
ALAssetsLibrary is deprecated iOS9, Please Help me Out  with new library

[2019-01-25 21:03] zoufishanmehdi opened #109 "Select full image from photo gallery"
Hi, I'm able to use original aspect to capture the full image as you can see in the code below. However, it doesn't apply to photo gallery when I click on it to select a picture from the gallery. As you can see in the screenshot below, image from photo gallery still appears to be a square. How can I fix this? Really appreciate any input.

` @IBAction func takePhotoTapped(_ sender: AnyObject) {

[2019-02-15 12:13] nileshordex opened #110 "camera not open sometime"
Hello Team,

Some time camera not open and show up down animation still hang. After application terminate and then open then after working fine.